NODE_ENV=development
PORT=81
SESSION_SECRET=<DEMO_SESSION_SECRET>

BPMT_BASE_URL=http://localhost
BPMT_OAUTH_CLIENT_ID=bpmt-oauth-demo
BPMT_OAUTH_CLIENT_SECRET=<BPMT_OAUTH_CLIENT_SECRET>
BPMT_OAUTH_REDIRECT_URI=http://localhost:81/oauth/callback

BPMT_API_BASE_URL=http://127.0.0.1/api
BPMT_API_APP_KEY=bpmt-api
BPMT_API_APP_SECRET=<BPMT_API_APP_SECRET>

DB_HOST=localhost
DB_PORT=3306
DB_USER=<DB_USER>
DB_PASSWORD=<DB_PASSWORD>
DB_NAME=bpmt
